form,
.form-input,
p.form-item,
.react-datepicker__input-container {
  display: grid;
}

.form-input {
  border: 1px solid rgb(226, 224, 224);
  padding: 0.5rem;
}

.submit-btn {
  color: white;
  background-color: rgb(220, 6, 6);
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1.25rem;
  width: min-content;
}

@media screen and (min-width: 48rem) {
  .form,
  .form-input,
  p {
    display: grid;
  }

  .form {
    grid-template-rows: 1fr auto;
  }
}
