.container {
  padding: 0.75rem;
}

li.single-restaurant {
  list-style-type: none;
  padding: 0.25rem;
  box-shadow: 0px 0px white;
}

@media screen and (min-width: 48rem) {
  .restaurant-rightSide {
    display: grid;
    justify-items: start;
  }

  h1.restaurant-name,
  p.restaurant-description {
    margin: 0;
  }
}
